<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="App AI"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Doan">
        <activity android:name=".form_huongdan7"></activity>
        <activity android:name=".form_huongdan6" />
        <activity android:name=".form_huongdan5" />
        <activity android:name=".form_huongdan4" />
        <activity android:name=".form_huongdan3" />
        <activity android:name=".form_huongdan2" />
        <activity android:name=".form_huongdan1" />
        <activity android:name=".form_huongdan" />
        <activity android:name=".form3" />
        <activity android:name=".form2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>